/* utilities */

.gradient-color {
    background: linear-gradient(to right, #2937f0, #9f1ae2);
}

.primary-color {
    color: #2937f0;
}

.secondary-color {
    color: #9f1ae2;
}

/* add section  */

.ads-section {
    height: 100vh;
}

.ads-section img {
    width: 100px;
}

/* waiting section  */

.card-body img {
    width: 50px;
}

/* waiting section  */

.waiting-section {
    height: 100vh;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}

.download-btn {
    box-sizing: border-box;
    border: 1px solid white;
}

.download-btn:hover {
    border: none;
    background: linear-gradient(to right, #2937f0, #9f1ae2);
}


/* get-the-app section  */
.get-the-app {
    height: 200px;
}

/* footer  */
footer {
    height: 100px;
}